[submodule "main/lib/glm"]
	path = main/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera
[submodule "components/Perse-Common"]
	path = components/Perse-Common
	url = https://github.com/CircuitMess/Perse-Common
[submodule "components/micro_ros_espidf_component"]
	path = components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
